<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <form action="">
                <label for="search">Search</label>
                <input type="search" name="" id="search">
                <button type="submit">Submit</button>
            </form>
        </header>

        <main>
            <h1>Dogs 101: <span style="color:red;">PUG</span> </h1> <a href="https://en.wikipedia.org/wiki/Pug">Pug Wikipedia</a> <img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Mops_oct09_cropped2.jpg" alt="pug dog" width="200px">

            <p>
                The Pug is a breed of dog originally from China, with physically distinctive features of a wrinkly, short-muzzled face and curled tail. The breed has a fine, glossy coat that comes in a variety of colors, most often light brown (fawn) or black, and a compact, square body with well developed and thick muscles all over the body.

                Pugs were brought from China to Europe in the sixteenth century and were popularized in Western Europe by the House of Orange of the Netherlands, and the House of Stuart.[2] In the United Kingdom, in the nineteenth century, Queen Victoria developed a passion for pugs which she passed on to other members of the Royal Family. 
            </p>

            <section id="description">
                <h2>Description</h2>
                <article id="physical">
                    <h3>Physical characteristics</h3>
                    <p>
                        While the pugs that are depicted in eighteenth century prints tend to be long and lean,[2] modern breed preferences are for a square cobby body, a compact form, a deep chest, and well-developed muscle.[4] Their smooth and glossy coats can be fawn, apricot fawn, silver fawn, or black.[4][5] The markings are clearly defined and there is a trace of a black line extending from the occiput to the tail.[4] The tail normally curls tightly over the hip.[2]

                        Pugs have two distinct shapes for their ears, "rose" and "button". "Rose" ears are smaller than the standard style of "button" ears, and are folded with the front edge against the side of the head. Breeding preference goes to "button" style ears.[6]

                        Pugs' legs are strong, straight, of moderate length and are set well under. Their shoulders are moderately laid back. Their ankles are strong, their feet are small, their toes are well split-up, and their nails are black.[4] The lower teeth normally protrude further than their upper, resulting in an under-bite.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aperiam repudiandae labore temporibus enim similique doloremque numquam, iste recusandae delectus, et quod voluptatum, perferendis vero neque maxime. Quibusdam, odio! Sequi!
                        Laboriosam officia ex laudantium! Quibusdam praesentium maxime non earum doloremque ab aspernatur, cumque eaque? Nesciunt officiis saepe, amet in accusamus laboriosam praesentium illo odit porro omnis veritatis tempora commodi quos.
                        Perferendis voluptatibus porro aspernatur, consectetur maiores voluptatum expedita labore nemo! Asperiores aliquid odio qui sed itaque porro, reprehenderit impedit quae delectus. Recusandae culpa aspernatur eligendi odio dolorem reiciendis dicta nemo?
                        Earum, dolor beatae. Similique soluta repellat expedita explicabo blanditiis porro culpa consequatur illum autem molestias tenetur, magnam et dolorum. Labore natus dolores excepturi sit autem molestias corrupti perspiciatis quis consequatur?
                        Veritatis sint, eligendi rerum sunt aperiam ea ipsa. Molestias architecto dolor vel ducimus molestiae nostrum beatae possimus repudiandae, minus aliquid, illum ullam! Ullam vitae, voluptate similique suscipit in aut quae!
                        Veritatis reiciendis officiis suscipit aliquid deleniti, optio ratione architecto esse quaerat, labore aliquam omnis facere tempora? Consequatur, voluptate! Possimus magni ipsum blanditiis ipsa tempora aliquid accusamus nam, aspernatur fugit odit.
                        Esse maiores maxime quidem velit unde natus aut exercitationem libero omnis, iusto sit molestiae consectetur aperiam ab, similique ipsam nulla optio ad, veritatis saepe rem nisi. Minus repellat quas eius.
                        Laudantium assumenda sit tempora sint! Maxime accusamus aliquid cupiditate unde ab nostrum obcaecati quis quaerat quas libero, eaque porro rem pariatur esse aliquam ullam neque sequi laborum harum minus temporibus?
                        Eveniet quam ipsam voluptatum temporibus numquam quis sunt, illo similique alias vitae minus deleniti at labore facilis. Magni architecto eum eligendi quibusdam, distinctio a, voluptatibus dolore optio minus tempore repellendus.
                        Minima quod unde totam blanditiis consequuntur aperiam voluptates, soluta tenetur exercitationem sapiente delectus vitae in adipisci iure voluptatibus, rerum ea, animi rem facilis? Odio alias facere officiis minima. Explicabo, dicta.
                    </p>

                    <figure>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Pug_sitting_on_the_ground.png/266px-Pug_sitting_on_the_ground.png" alt="dog">

                        <figcaption>Dog starring at owner</figcaption>
                    </figure>
                </article>

                <article>
                    <h3>Temperament</h3>
                    <p>
                        This breed is often described by the Latin phrase multum in parvo, or "much in little" or "a lot of dog in a small space", alluding to the pug's remarkable and charming personality, despite its small size.[1] Pugs are strong-willed but rarely aggressive, and are suitable for families with children. The majority of the breed is very fond of children and sturdy enough to properly play with them. Depending on their owner's mood, they can be quiet and docile but also vivacious and teasing.[7] Pugs tend to be intuitive and sensitive to the moods of their owners and are usually eager to please them.[3] Pugs are playful and thrive on human companionship. They also tend to have a snoozy nature and spend a lot of time napping. Pugs are often called "shadows" because they follow their owners around and like to stay close to the action,[8] craving attention and affection from their owners.[9][10]
                    <div style="background-color:rgb(152, 183, 230);">
                        This breed is often described by the Latin phrase multum in parvo, or "much in little" or "a lot of dog in a small space", alluding to the pug's remarkable and charming personality, despite its small size.[1] Pugs are strong-willed but rarely aggressive, and are suitable for families with children. The majority of the breed is very fond of children and sturdy enough to properly play with them. Depending on their owner's mood, they can be quiet and docile but also vivacious and teasing.[7] Pugs tend to be intuitive and sensitive to the moods of their owners and are usually eager to please them.[3] Pugs are playful and thrive on human companionship. They also tend to have a snoozy nature and spend a lot of time napping. Pugs are often called "shadows" because they follow their owners around and like to stay close to the action,[8] craving attention and affection from their owners.[9][10]
                    </div>
                    </p>
                </article>
            </section>

            <section>
                <h2>History</h2>
                <article>
                    <h3></h3>
                    <p></p>
                </article>
            </section>


        </main>

        <aside>
            <ul>
                <li><a href="#description">description</a>
                    <ul>
                        <li><a href="#physical"> Physical description</a></li>
                    </ul>
                </li>
                
            </ul>

            <ul>
                <li><a href="#physical"> Physical description</a></li>
            </ul>
        </aside>




        <footer>
            <p>some copyright info &copy;</p>
        </footer>
        
    </body>
</html>